<div class="page">
  <div class="page-single">
    <div class="container">
      <div class="row">
        <div class="col col-login mx-auto">
          <h1 class="page-title">
            Aurora System
          </h1>
          <form class="form-signin card" [formGroup]="loginForm" (submit)="create()">
            <div class="card-body p-6">
              <div class="card-title">Login to your account</div>
              <div class="form-group">
                <input
                      type="email"
                      class="form-control"
                      placeholder="Email address"
                      formControlName="username"
                      required
                      autofocus
                />
              </div>
              <div class="form-group">
                  <input
                        type="password"
                        class="form-control"
                        placeholder="Password"
                        formControlName="password"
                        required
                  />
              </div>
              <div class="form-footer">
                <button class="btn btn-primary btn-block">Sign in</button>
              </div>
            </div>
          </form>
          <div class="text-center text-muted">
            Don't have account yet? <a routerLink="/signup">Sign up</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
